<div id="video" class="p-5">
    <div class="row">
        <h2>NINJA VOLLEYBALL WORLDCUP</h2>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <iframe width="740" height="460" src="https://www.youtube.com/embed/HxzKP6vVddY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-6 my-auto">
            <p>The 18th Asian Games will be held in Jakarta and Palembang, Indonesia starting
                from August 18th to September 2nd, 2018.
                The Asian Games is an exclusive property of the Olympic Council of Asia (OCA)
                where the members of OCA come together to enhance the ability of Asian athletes
                and promote mutual understanding through fair competition. It is the multi-sport
                festivity within the Asian region held every 4 years.
                This publication is to provide the general information about the Olympic Council of
                Asia, the Member NOCs, Indonesia Asian Games Organizing Committee and
                overview of the 18th Asian Games Jakarta-Palembang 2018 as well as introduction
                of Indonesia, the Host Country and the Host City. This publication also contains the
                technical information for Sepak Takraw Sport in the 18th Asian Games JakartaPalembang
                2018, which is the most important.
                It is our honor to provide this Technical Handbook before the start of the18th Asian
                Games Jakarta-Palembang 2018. This handbook will serve an important role to all
                the participating officials and athletes. </p>
        </div>
    </div>
</div>